<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<!-- CONSOLE -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <!-- LOGGER -->
  <Loggers>
    <Logger name="gospl.algo" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.bn" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.CategoricalBayesianNetwork" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="gospl.algo.sr.bn.BayesianNetwork" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.NodeCategorical" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.DNode" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.SimpleConditionningInferenceEngine" level="warn" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.EliminationInferenceEngine" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="gospl.algo.sr.bn.RecursiveConditionningEngine" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
     <Logger name="gospl.algo.sr.bn.MoralGraph" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.EliminationOrderDeepFirstSearch" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.sr.bn.EliminationOrderBestFirstSearch" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
   
    <Logger name="test.util.R" level="trace" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="gospl.algo.ipf.margin.MarginalsIPFProcessor" level="info" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
     <Logger name="gospl.algo.sampler.sr.GosplHierarchicalSampler" level="error" additivity="false">
    	<AppenderRef ref="Console"/>
    </Logger>
    
 
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
